body {
    width: 100%;
    height: 100%;
}

.main-body {
    padding: 0;
    background: #ffffff;
}

.container {
    max-width: 1270px;
    background: none;
    margin: 0 auto;
    padding: 66px 0 0;
    box-sizing: content-box;
}

.container:before {
    margin: 0;
}

.left-sidebar {
    margin: 0;
    position: fixed;
    padding: 24px 0 0 0;
    max-width: 173px;
    border-right: 1px solid #dbdcdc;
    background: #ffffff;
    z-index: 1;
}

.navigation-bar {
    width: 100%;
    box-shadow: none;
}

.navigation-tab[aria-selected="true"] {
    background: rgba(12,13,14,0.05);
    color: black;
}

.navigation-tab:before, .navigation-tab:after {
    left: 169px;
    border-radius: 0;
    width: 3px;
    height: 36px;
    background-color: #55a92f;
}

.child-tab {
    padding-left: 20px;
}

.title-tab {
    color: #868290;
}

.home-tab {
    margin-bottom: 15px;
}

.under-icon-tab {
    padding-left: 45px;
}

.content {
    margin-left: 172px;
    padding: 0;
    max-width: 1000px;
    min-width: 100px;
    width: 100%;

}

.main-button {
    background-color: #55a92f;
    color: var(--lumo-primary-contrast-color);
    font-weight: 600;
}

.main-button-non-selected {
    font-weight: 600;
    color: #bdc4d3;
}

.main-button-non-selected:hover {
    background-color: #55a92f;
    color: var(--lumo-primary-contrast-color);
}

.content-header {
    height: 140px;
    padding: 18px 0 0 24px;
}

.content-body {
    height: 100%;
    padding: 18px 0 0 24px;
    margin-top: 0;
}

.content-label {
    font-size: 30px;
}

.rs-cmp {
    margin-left: auto;
}

.tabs-bar {
    box-shadow: none;
}

.tabs-bar > vaadin-tab[aria-selected="true"] {
    color: black;
}

.tabs-bar > vaadin-tab:before, vaadin-tab:after {
    box-shadow: none;
    background-color: #55a92f;
    color: #55a92f;
    border-radius: 0;
    width: 66px;
    height: 3px;
}

.padding-none {
    padding: 0;
}

.margin-none {
    margin: 0;
}

.grey-light {
    color: #6a737c;
}

.padding-trl-1px {
    padding-top: 1px;
    padding-right: 1px;
    padding-left: 1px;
}

.padding-l-2px {
    padding-left: 2px;
}

.padding-l-10px {
    padding-left: 10px;
}

.padding-b-10px {
    padding-bottom: 10px;
}

.padding-5px {
    padding: 5px;
}

.padding-8px {
    padding: 8px;
}

.padding-10px {
    padding: 10px;
}

.margin-l-5px {
    margin-left: 5px;
}

.margin-r-16px {
    margin-right: 16px;
}

.margin-b-16px {
    margin-bottom: 16px;
}

.margin-l-10px {
    margin-left: 10px;
}

.margin-b-none {
    margin-bottom: 0;
}

.margin-b-20px {
    margin-bottom: 20px;
}

.margin-t-none {
    margin-top: 0;
}

.border-b-light-grey {
    border-bottom: 1px solid #dbdcdc;
}

.user-detail-block {
    border: 1px solid #e1e4e8;
    border-radius: 3px;
}

.username-detail {
    font-weight: 700;
    font-size: 24px;
}

.avatar-detail {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 275px;
    height: 270px;
}

.fs-12px {
    font-size: 12px;
}