.html-shower {
    border-top: 1px solid #dbdcdc;
    border-bottom: 1px solid #dbdcdc;
    min-height: 100px;
    width: 100%;
}

.title {
    font-weight: 600;
}

.post-block {
    width: 650px;
    border-radius: 4px;
    border: 1px solid #e1e4e8;
}

.post-block:hover {
    border: 1px solid #878a8c;
}

.post-username {
    font-size: 16px;
}

.post-image {
    width: 650px;
}

.user-small-block {
    width: 200px;
    border-radius: 3px;
    background-color: #E1ECF4;
    font-size: 12px;
}

.user-small-image {
    width: 50px;
    height: 50px;
}

.user-link:hover {
    text-decoration: none;
    color: #4a9ef2;
    transition: background .1s ease-in-out;
}

.user-info {
    margin-left: 0;
    padding-left: 0;
}

.back-link {
    padding-left: 70px;
    padding-right: 16px;
}

.body-foot {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}


.post-cut-block {
    border: 1px solid #e1e4e8;
    border-radius: 3px;
}

.post-cut-block:hover {
    border: 1px solid #878a8c;
}