.logoutBtn {
    color: black;
    opacity: .3;
}

.logoutBtn:hover  {
    opacity: 1;
    transition: background cubic-bezier(.165, .84, .44, 1) .25s;
}

.site-header {
    z-index: 1;
    position: fixed;
    margin: 0;
    top: 0;
    background: white;
    min-height: 50px;
    border-top: 3px solid #55a92f;
}

.label-header {
    font-family: monospace;
    font-weight: bold;
    font-size: 40px;
}

.logo-header {
    margin: 10px 10px 10px 10px;
    width: 155px;
    height: 32px;
}

.div-component {
    height: 100%;
}

.div-component:hover {
    background-color: rgba(239,240,241,0.75);
    transition: background-color cubic-bezier(.165, .84, .44, 1) .25s;
}

.search-textfield-header {
    width: 64%;
}

.right-side-component {
    margin-left: auto;
}

.icon {
    height: 100%;
    opacity: .3;
    padding: 0 10px 0 10px;
}

.icon:hover {
    opacity: 1;
    transition: .25s;
}
