.logoutBtn {
    color: black;
    opacity: .3;
}

.logoutBtn:hover  {
    opacity: 1;
    transition: background cubic-bezier(.165, .84, .44, 1) .25s;
}

.site-header {
    position: fixed;
    margin: 0;
    top: 0;
    background: #fafafb;
    min-height: 50px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 6px rgba(59,64,69,0.1);
    border-top: 3px solid #55a92f;
}

.label-header {
    font-family: monospace;
    font-weight: bold;
    font-size: 40px;
}

.logo-header {
    margin: 10px 10px 10px 10px;
    width: 155px;
    height: 32px;
}

.div-component:hover {
    background-color: rgba(239,240,241,0.75);
    transition: background-color cubic-bezier(.165, .84, .44, 1) .25s;
}

