.login-form {
    padding: var(--lumo-space-l);
}

.logo-login {
    width: 300px;
    height: 60px;

    margin-bottom: 0;
}

.login-layout {
    margin: auto;
    margin-top: 200px;
}

.field {}

.button {}

.login-form > .button {
    width: 100%;
    background-color: #55a92f;
    color: var(--lumo-primary-contrast-color);
    font-weight: 600;
}

.login-form > .field {
    margin-top: 0;
}

h2 {
    margin-bottom: 0;
}

.signup-link {
    margin-top: 0;
}