.login-form {
    margin: auto;
    margin-top: 200px;
}

.logo-login {
    width: 300px;
    height: 60px;

    margin-bottom: 0;
}

.login-form > vaadin-login-form > vaadin-login-form-wrapper > form > vaadin-button[part="vaadin-login-submit"] {
    background-color: #55a92f;
}