.main-body {
    padding: 0;
    background: #ffffff;
}

.container {
    max-width: 1270px;
    background: none;
    margin: 0 auto;
    padding: 66px 0 0;
    box-sizing: content-box;
}

.container:before {
    margin: 0;
}

.left-sidebar {
    margin: 0;
    position: fixed;
    padding: 24px 0 0 0;
    max-width: 173px;
    border-right: 1px solid #dbdcdc;
}

.navigation-bar {
    width: 100%;
    box-shadow: none;
}

.navigation-tab[aria-selected="true"] {
    background: rgba(12,13,14,0.05);
    color: black;
}

.navigation-tab:before, .navigation-tab:after {
    left: 169px;
    border-radius: 0;
    width: 3px;
    height: 36px;
    background-color: #55a92f;
}

.child-tab {
    padding-left: 20px;
}

.title-tab {
    color: #868290;
}

.home-tab {
    margin-bottom: 15px;
}

.under-icon-tab {
    padding-left: 45px;
}

.content {
    margin-left: 172px;
    padding: 0;
    min-width: 780px;
    max-width: 780px;
}

.content-header {
    height: 140px;
    min-height: 140px;
    padding: 18px 0 0 24px;
}

.content-body {
    height: 100%;
    padding: 0;
    margin-top: 0;
    border-top: 1px solid #dbdcdc;
}

.content-label {
    font-size: 30px;
}