.image404 {
    margin: auto;
    width: 500px;
}

.return-label {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.return-label:hover {
    transition: 0.2s;
    color: #424242;
    text-decoration: none;
}