.logo-pass-restore {
    width: 300px;
    height: 60px;

    margin-bottom: 0;
}

.error-label-pass-restore {
    padding: 5px 10px 5px 10px;
}

.pass-restore-form-label {
    margin-top: 15px;
}

.pass-restore-layout {
    margin: auto;
    margin-top: 200px;
}

.pass-restore-form {
    padding: var(--lumo-space-l);
}

.error-pass-restore {
    background-color: #ffebea;
    border-radius: 5px;
    border: 2px solid #ffc7d3;
    color: #ff7075;
}

.button {}

.field {}

.pass-restore-form > .field {
    margin-top: 0;
}

.pass-restore-form  > .button {
    width: 100%;
    background-color: #55a92f;
    color: var(--lumo-primary-contrast-color);
    font-weight: 600;
}
