.logo-signup {
    width: 300px;
    height: 60px;

    margin-bottom: 0;
}

.signup-layout {
    margin: auto;
    margin-top: 200px;
}

.signup-form {
    padding: var(--lumo-space-l);
}

.field {}

.button {}

.signup-form > .button {
    width: 100%;
    background-color: #55a92f;
    color: var(--lumo-primary-contrast-color);
    font-weight: 600;
}

.signup-form > .field {
    margin-top: 0;
}

h2 {
    margin-bottom: 0;
}

.error-signup {
    background-color: #ffebea;
    border-radius: 5px;
    border: 2px solid #ffc7d3;
    color: #ff7075;
}

.error-label-signup {
    padding: 5px 10px 5px 10px;
}

.signup-form-label {
    margin-top: 15px;
}